# Porta do Servidor
PORT=3000

# Conexão com o Banco de Dados (PostgreSQL)
# Se estiver vazio, usará o fallback local (data/db.json)
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=sua_senha_aqui
# DB_NAME=central_acordos

# Segredo para criptografia dos Tokens de Autenticação (JWT)
JWT_SECRET=mude_este_segredo_para_algo_aleatorio_em_producao

# Credenciais Iniciais do Usuário Master (Criado no primeiro acesso ao BD)
ADMIN_EMAIL=admin@grupoabucci.com.br
ADMIN_PASS=admin123
